.wrapper {
    margin: 4rem auto 0;
    max-width: 80vw;
}
  
.red {
    color: red;
}

nav {
    background-color: #ccc;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    top: 0;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    left: 70vw;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}